html, body, section, div {
    margin: 0
}

body{
    --hcolor: #484848;
    --bgcolor: #ebeff2;
    background-color: var(--bgcolor);
    overflow-x: hidden;
}

body.dark{
    --hcolor: #ebeff2;
    --bgcolor: #484848;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

* {
    font-family: 'Cabin', sans-serif;
    margin: 0
}

span {
    font-family: inherit
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif
}

h1 {
    padding-top: 0.53em;
    padding-bottom: 0.53em
}

p, code, a, li {
    font-size: 18px;
    line-height: 23px
}

@media (min-width: 768px) {
    p, code, a, li {
        font-size: 24px;
        line-height: 30px
    }
}

code, ul {
    margin-bottom: 20px
}

code {
    font-family: monospace
}

a {
    color: #C46BAE
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h1 {
    font-size: 3.7em
}

.date-root {
    color: #000000;
}

::-moz-selection {
    background: #FFD8FB
}

::selection {
    background: #FFD8FB
}

.fixed-nav-bar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
    background-color: #0a0b10;
    color: white;
    height: 70px;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif
}

.fixed-nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center | stretch;
    -webkit-align-items: center | stretch;
    -ms-flex-align: center | stretch;
    align-items: center | stretch;
    list-style: none;
    text-align: center;
    margin: 0;
    height: inherit;
    padding: 0
}

.fixed-nav-bar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width: 768px) {
    .fixed-nav-bar ul li.wide {
        width: 60%;
        display: block
    }
}

@media (max-width: 767px) {
    .fixed-nav-bar ul li.wide {
        display: none
    }
}

.fixed-nav-bar ul li a {
    display: inline-block;
    margin: 0 auto;
    color: white;
    text-decoration: none
}

.fixed-nav-bar ul li a:hover {
    background-color: #C46BAE
}

#cover-continer, #front-cover, #cover-canvas {
    height: 200px;
    position: absolute;
    width: 100%
}

#cover-container {
    margin-top: 70px;
    overflow: hidden;
    height: 200px
}

#front-cover {
    clip: rect(0, auto, auto, 0);
    z-index: 1;
    background-color: #101423;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#front-cover h1 {
    padding: 0 10px 0 10px;
    margin: 0 auto;
    color: white;
    font-size: 4em
}

#landing-page {
    width: 90%;
    margin: 0 auto
}

@media (min-width: 1024px) {
    #landing-page {
        max-width: 780px
    }
}

#landing-page h1 {
    color: #6085FF
}

#site-footer {
    width: 90%;
    margin: 80px auto 0 auto;
    color: #BACAFF;
    text-align: left
}

@media (min-width: 1024px) {
    #site-footer {
        max-width: 780px
    }
}

#site-footer a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    line-height: 0.1em
}

.tags-list a {
    font-size: 75%;
    color: #46bc75
}

.section-content {
    width: 90%;
    margin: 0 auto
}

@media (min-width: 1024px) {
    .section-content {
        max-width: 780px
    }
}

.section-content h1, .section-content h2, .section-content h3, .section-content h4 {
    color: #6085FF
}

.section-content h2 {
    font-size: 2em;
    margin: .3em 0
}

.section-content h2 a {
    font-size: inherit;
    font-family: inherit
}

.section-content h2 a:hover {
    background: #BACAFF
}

.section-content a {
    color: #C46BAE
}

.section-content p, .section-content blockquote {
    margin-bottom: 1em
}

.section-content blockquote p {
    margin-bottom: 0
}

.section-content img {
    display: block;
    margin: 0 auto;
    width: 80%
}

.section-content>p>code {
    background-color: #F2F5FF
}

.section-content>div>canvas {
    margin-bottom: 1em
}

.section-content .caption {
    text-align: center;
    color: #BACAFF;
    font-size: 1em
}

blockquote {
    padding: 20px;
    background-color: #FFD8FB;
    color: #6085FF;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    -webkit-border-radius: 80px 0 80px 0;
    border-radius: 80px 0 80px 0
}

blockquote p {
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg)
}